[submodule "External/tclap"]
	path = External/tclap
	url = https://git.code.sf.net/p/tclap/code
[submodule "External/glad"]
	path = External/glad
	url = https://gitlab.com/prog2002/glad
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/RafaelPalomar/stb
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
